#root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: auto;
  color-scheme: light dark;
  color: rgba(213, 235, 213, 0.87);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}

.about-img {
  display: flex;
  flex-direction: row;
  justify-items: space-around;
}

@media (max-width: 430px) {
  .about {
    width: 35em; /* Consider using percentages or 'vw' for better responsiveness */
    margin-bottom: 5em;
  }
  .intro,
  .home-about {
    display: flex; /* Ensure these containers are flex */
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 5em 0; /* Combine margin */
  }
  .about-img {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .logos {
    height: 30em;
    width: 23em;
    margin: 1px;
  }
  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
