#root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: auto;
  color-scheme: light dark;
  color: rgba(213, 235, 213, 0.87);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}

@media (max-width: 430px) {
  .home {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-image: radial-gradient(
      circle at bottom,
      rgba(2, 17, 5, 0.911) 60%,
      rgba(73, 104, 99, 0.87)
    );
  }
  .intro {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .home-about {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .about-img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logos {
    height: "30px";
    width: "23px";
    margin-left: 0;
  }
  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
