:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(19, 29, 22, 0.87);
  background-color: #3c3c3e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #128a30;
  text-decoration: inherit;
}
a:hover {
  color: #00ff00;
}

body {
  margin: 0;
  display: flex;
  background-image: url(../src/assets/Self/TCMinis\ Background.png);
  background-size: 100vw;
  background-repeat: repeat;
  background-color: #3c3c3e;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.1;
}

h2 {
  font-weight: 200;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f9f9f9;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #64ff7e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #3c3c3e;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.intro {
  margin-top: 20em;
  margin-bottom: 25em;
}

.about {
  width: 40em;
}
.home-about {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.home {
  display: flex;
  flex-direction: column;
}

.about-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-list {
  display: flex;
  flex-direction: row;
}

.self-img {
  border: 0.5px solid darkgreen;
  height: 30em;
  width: 23em;
}

.logos {
  height: 30em;
  width: 23em;
  margin-left: 40em;
}

@media (max-width: 430px) {
  .about {
    width: 35em; /* Consider using percentages or 'vw' for better responsiveness */
    margin-bottom: 5em;
  }
  .intro,
  .home-about {
    display: flex; /* Ensure these containers are flex */
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 5em 0; /* Combine margin */
  }
  .about-img {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .logos {
    height: 30em;
    width: 23em;
    margin: 1px;
  }
  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.MuiBottomNavigation-root {
  width: 100%;
}
